# macOS system files
.DS_Store
.AppleDouble
.LSOverride
.Icon
._*
.Spotlight-V100
.Trashes
*.swp
.DocumentRevisions-V100

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the executable, when developers want to
# fine-tune the default PyInstaller behavior for their application.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.*
!.env.example

# Streamlit
.streamlit/secrets.toml
config.yaml
logo/

# Virtual envs
.venv
